/*** MAIN STYLING ***/
html {
 box-sizing: border-box;
 background-color: #ffffff;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.clearfix:after {
              content: "";
              display: table;
              clear: both;
}
html {
  font-family: 'Open Sans', sans-serif;
  color: #A9A9A9;
  max-width: 100%;
  margin: auto;
  background-color: #D3D3D3;
}

/* TOP NAVIGATION */
h1 {
  background-image: url("images/header2.png");
  color: #ffffff;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  height: 75px;
  text-align: center;
  padding: 10px;
  font-size: 44px;
  margin: 0px;
}
.waderlust img {
  width: 1000px;
  position: relative;
  background-size: 100%;
  background-repeat: none;
}
/* CAROUSEL*/
.carousel {
  padding: 25px;
}
.carousel img {
  width: 100%;
  height: auto;
}
.slick-next:before {
  content: '>'!important;
  color: #000000!important;
}
.slick-prev:before {
  content: '<'!important;
  color: #000000!important;
}

/*** MAIN BODY ***/

/* TODO BUTTONS */
.todo li {
  float: left;
  width: 200px;
  height: 200px;
  margin: 15px;
  font-size: 24px;
  list-style: none;
  background-color: #808080;
  text-align: center;
  color: #ffffff;
  padding-top: 75px;
  border-radius: 25px;
  border-style: solid;
  border-color: #ffffff;
  color: #ffffff;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* LOCATION NAV & IMAGES */
.locationnav {
  height: 75px;
  color: #A9A9A9;
  border-color: #808080;
}
.rollOn {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-shadow: none;
}
.locations a:hover {
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.amalfiNav:hover {
  text-decoration: none;
  color: inherit;
}
.amalfi:hover {
  color: #ff0000;
}
h2 {
  height: 20px;
  margin: 0px;
  font-size: 24px;
  padding-left: 10px;
  padding-top: 20px;
  width: 175px;
  float: left;
  color: #808080;
  text-align: center;
}
.locationnav li {
  float: left;
  width: 175px;
  height: 50px;
  margin: 10px;
  font-size: 24px;
  padding-top: 5px;
  text-align: center;
  list-style: none;
  background-color: #808080;
  border-radius: 25px;
  border-style: solid;
  border-color: #ffffff;
  color: #ffffff;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.locations {
  margin-top: 40px; 
}
.locations p {
  position: relative;
  width:  100%;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 100px;
  text-align: center;
  padding-top: 150px;
  margin: 0px;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.locations a {
  text-align: center;
}
.locations a:hover:before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0,0,0, .3);
  top:0; right: 0; left: 0; bottom: 0;
}
.locations p span {
  font-size: 24px;
  color: #ff0000;
}

.bvi {
  background-image: url("images/bvi.jpg")
}
.greece {
  background-image: url("images/greece.jpg")
}
.iceland {
  background-image: url("images/iceland.jpg")
}
.amalfi {
  background-image: url("images/amalfi.jpg")
}

.locations img {
  height: auto;
  position: relative;
  background-repeat: none;
}
.about li {
  float: left;
  width: 175px;
  height: 50px;
  margin: 10px;
  font-size: 24px;
  padding-top: 5px;
  text-align: center;
  list-style: none;
  background-color: #808080;
  border-radius: 25px;
  border-style: solid;
  border-color: #ffffff;
  color: #ffffff;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* FOOTER */
footer {
  text-align: center;
  width: 100%;
  height: 100px;
}
/*_________________*** LOCATION STYLES ***______________*/

/* TODO BUTTONS */
.locationtodo li {
  float: left;
  width: 175px;
  height: 50px;
  margin: 10px;
  margin-left: 15px;
  font-size: 24px;
  padding-top: 5px;
  text-align: center;
  list-style: none;
  background-color: #808080;
  border-radius: 25px;
  border-style: solid;
  border-color: #ffffff;
  color: #ffffff;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
h3 {
  margin: 0;
  padding-left: 20px 20px;
}
.todoTitle {
  float: left;
  width: 100%;
  margin: 20px;
  font-size: 24px;
  padding-left: 10px;
  color: #000000;
  text-align: center;
  font-weight: 800;
  text-shadow: 
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #000;
}

/* ROAM */
#roamInfo {
  float: left;
  width: 40%;
  padding: 10px 25px;
}
#roamInfo p {
  padding: 5px 10px;
  color: #000000;
}
#roamPics {
  float: left;
  width: 60%;
  height: auto;
  padding: 25px 25px;
}
#roamPics img {
  width: 100%;
  height: auto;
}

/* RELAX */
#relaxInfo {
  float: left;
  width: 40%;
  padding: 10px 25px;
}
#relaxInfo p {
  padding: 5px 10px;
  color: #000000;
}
#relaxPics {
  float: left;
  width: 60%;
  height: auto;
  padding: 25px 25px;
}
#relaxPics img {
  width: 100%;
  height: auto;
}

/* RAGE */
#rageInfo {
  float: left;
  width: 40%;
  padding: 10px 25px;
}
#rageInfo p {
  padding: 5px 10px;
  color: #000000;
}
#ragePics {
  float: left;
  width: 60%;
  height: auto;
  padding: 25px 25px;
}
#ragePics img {
  width: 100%;
  height: auto;
}

/* RANDOM */
#randomInfo {
  float: left;
  width: 40%;
  padding: 10px 25px;
}
#randomInfo p {
  padding: 5px 10px;
  color: #000000;
}
#randomPics {
  float: left;
  width: 60%;
  height: auto;
  padding: 25px 25px;
}
#randomPics img {
  width: 100%;
  height: auto;
}
#travelzoo {
  color: #0000ff;
  text-decoration: underline;
}
.about p {
  padding: 10px;
}